*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'roboto','sans serif';
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
    color: #333;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.bg_animate{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #d87d06,#fefe07);
    position: relative;
    overflow: hidden;

    background-color: #f0f0f0;
    padding: 20px;
}

.header_nav{
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0% 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
}

.header_nav .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.header_nav h1{
    color: #f6f6f6;
    font-family: 'gagalin';
    font-family: 40px;
}

.header_nav nav a{
    color: #f6f6f6;
    text-decoration: none;
    margin-right: 10px;

    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
    color: #333;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.banner_tittle h2{
    color: #f6f6f6;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner_tittle .conocenos{
    color: #f6f6f6;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background: #02486b;
    padding: 20px;
}

.banner_img{
    animation: movimiento 2.5s linear infinite;
}

.banner_img img{
    width: 600px;
    display: block;
}

/* magia de las putas burbujas */

.burbuja{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f6f6f6;
    opacity: .3;

    position: absolute;
    bottom: -150;
    left: 5%;

    animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}
.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}
.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}
.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}
.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}
.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}
.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}
.burbuja:nth-child(8){
    width: 100px;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}
.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}
.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}

@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}
/*las putas targetas */
.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
    transform: translateY(-3%);
}
.card img{
    width: 100%;
    height: 210px;
}
.card .contenido{
    padding: 15px;
    text-align: center;
}
.card .contenido p{
    line-height: 400;
    color: #6a6a6a;
}
.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}
.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}
.card .contenido a:hover{
    background: #2fb4cc;
    color: #fff;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #2fb4cc;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn:hover{
    background-color: #02486b;
}